/* Compatibility Checkbox */
.compatibilidade {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--contrast-3);
    font-style: italic;
}





/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-active {
	color: var(--accent);
	font-weight: bold;
}


.tooltip:hover {
    color: var(--accent);
    border-bottom: 1px dotted currentColor; 
}

/*
 * /
 * 
 */
 

.segunda-linha {
    display: flex !important;
}
