#prismalunar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
}

.contentor_episodio {
    margin: 30px;
    background-color: #fff;
    border: 2px solid var(--cor-primaria);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--cor-primaria);
    overflow: hidden;
    width: 400px;
    position: relative;
    transition: width 0.5s, max-width 0.5s;
}



.cabecalho_video {
    font-weight: 600;
    background: black;
}

.cabecalho_video h2 {
    font-family: 'Atma', sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: white;
    letter-spacing: 2px;
}

.nome_pt {
    font-family: Atma;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.contentor_video_inner {
    position: relative;
	max-height: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
}

/* Episode Details */
.detalhes-episodio {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    align-items: center;
    height: 160px;
}

.rotulo {
    font-weight: bold;
    color: var(--cor-primaria);
    grid-column: 1;
    display: inherit;
}

.valor {
    color: #333;
    grid-column: 2;
    display: inherit;
}

.estrangeiro {
    width: 140px;
    height: 104px;
    float: left;
}

.contentor-episodio img {
    width: 138px;
    height: 104px;
    border-bottom: 1px solid #eee;
    max-width: unset;
}

/* Code for buttons and image */
.episodio-opcoes {
    display: flex;
    height: 104px;
    width: 100%;
}

.episodio-coluna1 {
    width: 138px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.episodio-coluna1 img {
    max-width: 100%;
    max-height: 100%;
}

.episodio-coluna2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.primeira-linha {
    display: flex;
}

.segunda-linha {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 10px;
}

/* Episode Summary */
.resumo-episodio {
    padding: 10px;
    text-align: justify;
    border-top: 1px solid #eee;
}

.invisivel {
    height: 0px !important;
    width: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    overflow: hidden;
    transition: all 0.5s;
}

.detalhes-episodio,
.episodio-coluna1,
.resumo-episodio {
    transition: opacity 0.5s, visibility 0.5s, height 0.5s;
}

.topo {
    position: absolute;
    bottom: 0;
    right: 0;
}

.topo-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

#escolher-episodio {
    width: 250px;
    margin: auto;
}

@media (max-width: 1300px) {
    .contentor_episodio {
        margin: 30px 15px;
    }
}

@media (max-width: 640px) {
    .contentor_episodio {
        width: 100%;
        min-width: 390px;
    }
	 #problema img {
        display: none;
    }
}

@media (max-width: 400px) {
    .contentor_episodio {
        margin: 20px;
    }
}


/* Compatibility Checkbox */
.compatibilidade {
    display: flex;
    align-items: center;
    gap: 5px;
    color: lightgray; /* Consider checking contrast */
    font-style: italic;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-active {
	color: var(--cor-primaria);
	font-weight: bold;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: var(--cor-primaria-clara);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 100%;
  left: 50%;
  margin-left: -200px; /* Use half of the width (400/2 = 200), to center the tooltip */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s;
  font-size: 0.8em;
  padding: 5px;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}


.tooltip:hover {
    border-bottom: 1px dotted var(--cor-primaria-clara); 
}
